* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background: #ffffff00;
  padding: 20px 0;
  box-shadow: 0 5px 10px #ffffff95;
  position: fixed;
  width: 100%;
}

.navbar__container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.navbar__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
}


.navbar__btn {
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.242);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px #fff;
  margin-right: 250px;
}

body {
  background: #000000d1;
  color: #fff;
  position: relative;
}

.navbar {
  background: #ffffff00;
  padding: 20px 0;
  box-shadow: 0 5px 10px #ffffff95;
  position: fixed;
  width: 100%;
}

.navbar__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
}

h3,
p {
  text-shadow: 0 0 10px aquamarine;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  padding: 150px 0 0 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav__btn {
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.242);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px #fff;
}

.card {
  border: 2px solid aqua;
  box-shadow: 0 0 10px #00000080;
  border-radius: 10px;
  padding: 12px;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.card button {
  padding: 8px;
  background: dodgerblue;
  color: #fff;
  border: none;
}

.btn__seemore {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  background: dodgerblue;
  box-shadow: 0 12px 10px #00000080;
  color: #fff;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}

.loading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 150px 0 0 0;
  grid-gap: 12px;
}
.loading__item {
  border: 1px solid #ddd;
  padding: 12px;
}
.loading__image {
  width: 100%;
  height: 250px;
  background: #ddd;
}
.loading__title {
  width: 80%;
  height: 30px;
  margin-top: 12px;
  background: #ddd;
}
.loading__title:last-child {
  width: 60%;
}
.to-left {
  background: linear-gradient(90deg, #ddd, #aaa, #ddd);
  background-size: 200%;
  animation: toLeft 1s linear infinite;
}
@keyframes toLeft {
  to {
    background-position: 200%;
  }
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
